@media (max-width: 992px) {
    .girlentry { float: none !important; }
    h3 { font-size: 14px; }
}

/* Resize profile pics according to screen size */
/*
@media (min-width: 1200px) {
    .profile-pic-img > input.img-circle {
        width: 450px !important;
        height: 450px !important;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .profile-pic-img > input.img-circle {
        width: 350px !important;
        height: 350px !important;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .profile-pic-img > input.img-circle {
        width: 700px !important;
        height: 700px !important;
    }
}
@media (max-width: 768px) {
    .profile-pic-img > input.img-circle {
        width: 90% !important;
        height: inherit !important;
    }
}

@media (max-width: 992px) {
    .profile-pic-img > input.img-circle {
        width: 90% !important;
        height: inherit !important;
    }
}

@media (min-width: 992px) {
    .profile-pic-img > input.img-circle {
        width: 100% !important;
        height: inherit !important;
    }
}
*/

/*
 * Profile image component, taken from http://bootsnipp.com/snippets/featured/profile-picture-with-badge
 */
.profile-pic-container {
    margin: 20px auto;
    text-align: center;
}

.profile-pic-img > input.img-circle {
    border: 5px solid #51D2B7; /* default color - used for undefined themes */
    width: 100%;
    height: inherit;
}

.profile-pic-img-Cyborg > input.img-circle {
    border: 5px solid #2a9fd6;
}

.profile-pic-img-Paper > input.img-circle {
    border: 5px solid #2196f3;
}

.profile-pic-img-Sandstone > input.img-circle {
    border: 5px solid #325d88;
}

.profile-pic-img-Simplex > input.img-circle {
    border: 5px solid #d9230f;
}

.profile-pic-img-Standard > input.img-circle {
    border: 5px solid #337ab7;
}


/*
 * Grade badge component
 */
.grade-container {
    text-align: center;
}

.grade-label {
    background-color: rgb(81, 210, 183); /* default color */
    padding: 5px 14px 20px 14px;
    border-radius: 20px;
    font-size: 24px;
}

.grade-label-Cyborg {
    background-color: #2a9fd6;
}

.grade-label-Paper {
    background-color: #2196f3;
}

.grade-label-Sandstone {
    background-color: #325d88;
}

.grade-label-Simplex {
    background-color: #d9230f;
}

.grade-label-Standard {
    background-color: #337ab7;
}

