#Cyborg {
    position: relative;
    top: 6px;
}

#Paper {
    position: relative;
    top: 5px;
}

#Sandstone {
    position: relative;
    top: 8px;
}

#Simplex {
    position: relative;
    top: 6px;
}

#Standard {
    position: relative;
    top: 4px;
}
