{% extends "base.html" %}
{% block title %}about{% endblock %}

{% block homeActive %}{% endblock %}
{% block topActive %}{% endblock %}


{% block content %}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <center>
            <!-- <img class="img-responsive thumbnail" src="{{ url_for('static', filename='img/14NkRIz.jpg') }}"> -->
        </center>
    </div>
    <div class="col-md-2"></div>
</div>

<center>
    <h2 style="text-shadow: 1px 1px 4px #000000;"><strong>{{ uptime }}</strong></h2>
    <h4 style="text-shadow: 1px 1px 3px #000000;">without an accident.</h4>
</center>



<div class="row">
    <br>

    <div class="col-md-3"></div>
    <div class="col-md-6">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>number of <kbd>&hellip;</kbd> in the last</th>
                    <th>hour</th>
                    <th>day</th>
                    <th>week</th>
                    <th>month</th>
                    <th>ever</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><kbd>votes</kbd></td>
                    {% for delta in ['hour', 'day', 'week', 'month', 'ever'] %}
                        <td><kbd>{{ deltas[delta].votes }}</kbd></td>
                    {% endfor %}
                </tr>
                <tr>
                    <td><kbd>uniqueVisitors</kbd></td>
                    {% for delta in ['hour', 'day', 'week', 'month', 'ever'] %}
                        <td><kbd>{{ deltas[delta].voters }}</kbd></td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3"></div>

</div>

{% endblock %}
