{% extends "base.html" %}
{% block title %}about{% endblock %}

{% block homeActive %}{% endblock %}
{% block topActive %}{% endblock %}


{% block content %}
<br>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <center>
            <!-- <img class="img-responsive thumbnail" src="{{ url_for('static', filename='img/14NkRIz.jpg') }}"> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/b9jyEpCibYk?autoplay=1" frameborder="0" allowfullscreen></iframe>
        </center>
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock %}
