{% extends "base.html" %}

{% block homeActive  %}{% endblock %}
{% block topActive  %}{% endblock %}
{% block aboutActive  %}{% endblock %}

{% block title %}all{{ howMany }}{% endblock %}
{% block content %}
<table class="table table-hover">
  <thead>
    <tr>
      <th>id</th>
      <th>username</th>
      <th>fullname</th>
      <th>gender</th>
      <th>city</th>
      <th>school</th>
      <th>rating</th>
      <th>maxRating</th>
      <th>volatility</th>
      <th>games</th>
      <th>wins</th>
      <th>hidden</th>
    </tr>
  </thead>
  <tbody>
    {% for x in entries %}
      <tr class="{% if x.hidden %}danger{% else %}active{% endif %}">
        <td>{{ x.id }}</td>
        <td class="col-md-3"><a href="http://www.facebook.com/{{ x.username }}">{{ x.username }}<br><img class="col-md3 img-responsive pull-left thumbnail" src="https://graph.facebook.com/{{ x.username }}/picture?width=300&height=300"></a></td>
        <td>{{ x.fullname }}</td>
        <td>{{ x.gender }}</td>
        <td>{{ x.city }}</td>
        <td>{{ x.school }}</td>
        <td>{{ x.rating }}</td>
        <td>{{ x.maxRating }}</td>
        <td>{{ x.volatility }}</td>
        <td>{{ x.games }}</td>
        <td>{{ x.wins }}</td>
        <td>
            <form action="{{ url_for('flipHidden') }}" method="POST">
                <input type="hidden" name="id" value="{{ x.id }}"></input>
                <div class="input-group">
                    {% if not x.hidden %}
                    <input type="text" class="form-control" value="{% if x.hidden %}hidden{% else %}shown{% endif %}" disabled></input>
                    {% endif %}

                    <span class="input-group-btn">
                        <button class="btn btn-{% if x.hidden %}primary{% else %}danger{% endif %}" type="submit">{% if x.hidden %}unhide{% else %}hide    {% endif %}</button>
                    </span>

                    {% if x.hidden %}
                    <input type="text" class="form-control" value="{% if x.hidden %}hidden{% else %}shown{% endif %}" disabled></input>
                    {% endif %}
                </div>
            </form>
        </td>
      </tr>
   {% endfor %}
  </tbody>
</table>

<div class="text-center">
  <nav>
    <ul class="pagination pagination-sm">
      <li{% if page==1 %} class="disabled"{% endif %}>
        <a href="{{ url_for('showAll', page=1) }}" aria-label="first" {% if page == 1 %}style="pointer-events: none;"{% endif %}>
          <span aria-hidden="true">first</span>
        </a>
      </li>
    </ul>

    <ul class="pagination">
      <li{% if page==1 %} class="disabled"{% endif %}>
        <a href="{{ url_for('showAll', page=page-1) }}" aria-label="previous" {% if page == 1 %}style="pointer-events: none;"{% endif %}>
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>

      {% for i in range(firstNav, lastNav+1) %}
      <li {% if i == page %}class="active"{% endif %}>
        <a href="{{ url_for('showAll', page=i) }}">{{ i }}</a>
      </li>
      {% endfor %}

      <li{% if page==pages %} class="disabled"{% endif %}>
        <a href="{{ url_for('showAll', page=page+1) }}" aria-label="next" {% if page >= pages %}style="pointer-events: none;"{% endif %}>
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>

    <ul class="pagination pagination-sm">
      <li{% if page==pages %} class="disabled"{% endif %}>
        <a href="{{ url_for('showAll', page=pages) }}" aria-label="last" {% if page >= pages %}style="pointer-events: none;"{% endif %}>
          <span aria-hidden="true">last</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

{% endblock %}
