{% extends "base.html" %}

{% block topActive %}{% endblock %}
{% block aboutActive %}{% endblock %}
{% block title %}home{% endblock %}

{% block content %}

<h3><center>choose the one you like the most ;-)</center></h3>
<!-- PICTURES ROW -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-5">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ L.rating }}" aria-valuemin="0" aria-valuemax="4000" style="width: {{ (L.rating-800)/11 }}%; min-width: 2em; display:block; float: right;">
                    <span>{{ ratingL }}</span>
                </div>
            </div>
            <form action="{{ url_for('home') }}", method="POST">
                <input type="hidden" name="winner" value="{{ L.id }}"></input>
                <input type="hidden" name="loser" value="{{ R.id }}"></input>
                <input type="image" action="submit" class="col-xs5 img-responsive pull-right thumbnail" src="{{ picL }}">
            </form>
        </div>

        <div class="col-md-5">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ R.rating }}" aria-valuemin="0" aria-valuemax="4000" style="width: {{ (R.rating-800)/11 }}%; min-width: 2em;">
                    <span>{{ ratingR }}</span>
                </div>
            </div>
            <form action="{{ url_for('home') }}", method="POST">
                <input type="hidden" name="winner" value="{{ R.id }}"></input>
                <input type="hidden" name="loser" value="{{ L.id }}"></input>
                <input type="image" action="submit" class="col-xs5 img-responsive pull-left thumbnail" src="{{ picR }}">
            </form>
        </div>
    </div>
</div>
{% endblock %}
