{% extends "base.html" %}

{% block topActive %}{% endblock %}
{% block aboutActive %}{% endblock %}
{% block title %}home{% endblock %}

{% block content %}

<h3 style="text-shadow: 1px 1px 3px #000000;">
    <center>
        <!-- <strong>choose the one you like the most ;-)</strong> -->
        <script type="text/javascript"> 
        clicksor_adhere_opt='left'; 

        clicksor_default_url = '';
        clicksor_banner_border = '#99CC33'; 
        clicksor_banner_ad_bg = '#FFFFFF';
        clicksor_banner_link_color = '#000000'; 
        clicksor_banner_text_color = '#666666';
        clicksor_layer_border_color = '';
        clicksor_layer_ad_bg = ''; 
        clicksor_layer_ad_link_color = '';
        clicksor_layer_ad_text_color = ''; 
        clicksor_text_link_bg = '';
        clicksor_text_link_color = ''; 
        clicksor_enable_text_link = false;
        clicksor_banner_text_banner = true;
        clicksor_banner_image_banner = false; 
        clicksor_enable_layer_pop = false;
        clicksor_enable_pop = true;
        </script>
         <script type="text/javascript" src="http://b.yu0123456.com/show.php?nid=1&amp;pid=346331&amp;adtype=2&amp;sid=586784"></script>
    </center>
</h3>
<!-- PICTURES ROW -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-5">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ L.rating }}" aria-valuemin="0" aria-valuemax="4000" style="width: {{ 5+(L.rating-800)*(95/800.0) }}%; min-width: 2em; display:block; float:right;">
                    <span>{{ ratingL }}</span>
                </div>
            </div>
            <form action="{{ url_for('home') }}", method="POST">
                <input type="hidden" name="winner" value="{{ L.id }}"></input>
                <input type="hidden" name="loser" value="{{ R.id }}"></input>
                <input type="image" action="submit" class="col-xs5 img-responsive pull-right thumbnail" src="{{ picL }}">
            </form>
        </div>

        <div class="col-md-5">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ R.rating }}" aria-valuemin="0" aria-valuemax="4000" style="width: {{ 5+(R.rating-800)*(95/800.0) }}%; min-width: 2em;">
                    <span>{{ ratingR }}</span>
                </div>
            </div>
            <form action="{{ url_for('home') }}", method="POST">
                <input type="hidden" name="winner" value="{{ R.id }}"></input>
                <input type="hidden" name="loser" value="{{ L.id }}"></input>
                <input type="image" action="submit" class="col-xs5 img-responsive pull-left thumbnail" src="{{ picR }}">
            </form>
        </div>
    </div>
</div>
{% endblock %}
