{% extends "base.html" %}

{% block topActive %}{% endblock %}
{% block aboutActive %}{% endblock %}
{% block title %}home{% endblock %}

{% block content %}

<!-- PICTURES ROW -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-5">
            <div class="profile-pic-container">
                <div class="grade-container">
                    <span class="label grade-label grade-label-{{ currentTheme[0] }}">{{ "%.1f" % choices['gradeL'] }}<small>/10</small></span>
                </div>
                <form action="{{ url_for('home') }}", method="POST" class="profile-pic-img profile-pic-img-{{ currentTheme[0] }}">
                    <input type="hidden" name="winner" value="{{ choices['L'].id }}"></input>
                    <input type="hidden" name="loser" value="{{ choices['R'].id }}"></input>
                    <input type="image" action="submit" class="img-circle girlentry" src="{{ choices['picL'] }}">
                </form>
            </div>
        </div>

        <div class="col-md-5">
            <div class="profile-pic-container">
                <div class="grade-container">
                    <span class="label grade-label grade-label-{{ currentTheme[0] }}">{{ "%.1f" % choices['gradeR'] }}<small>/10</small></span>
                </div>
                <form action="{{ url_for('home') }}", method="POST" class="profile-pic-img profile-pic-img-{{ currentTheme[0] }}">
                    <input type="hidden" name="winner" value="{{ choices['R'].id }}"></input>
                    <input type="hidden" name="loser" value="{{ choices['L'].id }}"></input>
                    <input type="image" action="submit" class="img-circle girlentry" src="{{ choices['picR'] }}">
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}
