{% extends "base.html" %}
{% block title %}legal terms{% endblock %}

{% block homeActive %}{% endblock %}
{% block topActive %}{% endblock %}
{% block aboutActive %}{% endblock %}


{% block content %}
<br>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <blockquote class="blockquote-reverse">
            <p>You're using my <strong><i>private</i></strong> and <strong><i>highly personal</i></strong> profile picture, which I certainly own. Surely that's against the law, and you're going to hell for it.</p>
            <footer>every hater out there</footer>
        </blockquote>

        <p>According to Facebook's <a href="https://www.facebook.com/legal/terms" target="_blank">Terms of Service</a>,</p>
        <blockquote>
            You own all of the content and information you post on Facebook, and you can control how it is shared through your privacy and application settings.
        </blockquote>
        <p>However,</p>
        <blockquote>
            1. For content that is covered by intellectual property rights, like photos and videos (IP content), <u>you specifically give us the following permission, subject to your privacy and application settings: you grant us a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license to use any IP content that you post on or in connection with Facebook (IP License)</u>. This IP License ends when you delete your IP content or your account unless your content has been shared with others, and they have not deleted it.
        </blockquote>
        <p>Additionally,</p>
        <blockquote>
            4. When you publish content or information using the Public setting, <u>it means that you are allowing everyone, including people off of Facebook, to access and use that information, and to associate it with you (i.e., your name and profile picture)</u>.
        </blockquote>

        <p>Other sources state:</p>
        <blockquote>
            <i>[&hellip;]</i> Curtea a apreciat ca <i>"reteaua de socializare Facebook nu poate echivala, sub aspectul controlului mesajelor difuzate, cu o casuta postala electronica. Profilul sau personal pe Facebook, chiar daca este accesibil doar prietenilor, adica unui grup restrans de persoane, tot public este, oricare dintre «prieteni» putand distribui informatiile postate de titularul paginii, aspect pe care reclamantul il cunostea".</i>
            <footer>
                <a href="http://www.avocatnet.ro/content/articles/id_39216/ICCJ-a-mentinut-o-hotarare-data-in-2013-de-Curtea-de-Apel-Targu-Mures-Profilul-personal-de-Facebook-este-un-spatiu-public.html">ICCJ a mentinut o hotarare data in 2013 de Curtea de Apel Targu Mures: Profilul personal de Facebook este un spatiu public (avocatnet.ro)</a>
            </footer>
        </blockquote>

        <blockquote>
            <i>Profilul personal de Facebook, chiar daca este accesibil unui numar restrans de persoane, constituie spatiu public, si nu privat, arata o decizie a ICCJ care a respins ca nefondat recursul unui fost director din prefectura Mures care a contestat o sanctiune primita de la Consiliul National pentru Combaterea Discriminarii din cauza unei postari pe pagina personala de Facebook. Inalta Curte de Justitie si Casatie a pronuntat decizia irevocabila pe 27 noiembrie, dupa o luna de amanare a pronuntarii. In Romania cazul a constituit o premiera, iar Facebook are peste sapte milioane de useri.</i>
            <footer>
                <a href="http://www.hotnews.ro/stiri-esential-18726335-pagina-facebook-este-spatiu-public-nu-privat-arata-decizie-irevocabila-inaltei-curti-justitie-casatie.htm">Pagina de Facebook este spatiu public, nu privat, arata o decizie irevocabila a Inaltei Curti de Justitie si Casatie (hotnews.ro)</a>
            </footer>
        </blockquote>

        <p>If, by any chance, you wish to <strong>have your picture taken down from this website</strong>, you can do the following:<p>
        <ol>
            <li>Access <a href="{{ url_for('login') }}">this page</a>.</li>
            <li>Log in with your Facebook account.</li>
            <li>The system will search the user database and allow you to set your profile as <strong>hidden</strong>. This means that your picture will not appear on the vote and top pages anymore.<br><b>Note:</b> if the system does <b>not</b> find you, and you are certain that your picture is visible on the website, you can contact the administrator at <a href="mailto:srg.pscs@gmail.com" target="_top">srg.pscs@gmail.com</a>.</li>
            <li>You can always undo the operation, in case you wish to reappear at some later point in time.</li>
        </ol>
        </ol>

    </div>
    <div class="col-md-2"></div>
</div>

{% endblock %}
