{% extends "base.html" %}

{% block homeActive  %}{% endblock %}
{% block aboutActive %}{% endblock %}

{% block title %}top{% endblock %}
{% block content %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>rank</th>
            <th>pic</th>
            <th>rating</th>
        </tr>
    </thead>
    <tbody>
        {% for i in range(0, howMany) %}
            <tr class="active">
                <td><strong>{{ i+1 }}</strong></td>
                <td><img src="{{ pics[i] }}" height="300" width="300" class="thumbnail"></td>
                <td><strong>{{ entries[i].rating }}</strong></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
