{% extends "base.html" %}

{% block homeActive  %}{% endblock %}
{% block aboutActive %}{% endblock %}

{% block title %}top{% endblock %}
{% block content %}
<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for i in range(0, howMany) %}
            <tr class="active">
                <td class="col-md-11">
                    <div class="profile-pic-container profile-pic-img profile-pic-img-{{ currentTheme[0] }}{% if i <= 2 %} profile-pic-img-{{ ['gold', 'silver', 'bronze'][i] }}{% endif %}">
                        <div class="grade-container">
                            <span class="label grade-label grade-label-{{ currentTheme[0] }}"><small>#{{ i+1 }}:</small> {{ "%.1f" % grades[i] }}<small>/10</small></span>
                        </div>
                        <img class="img-circle" src="/{{ pics[i] }}">
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
